# lucia haluaa satunnaisen pitkän merkkijonon 
# (suositus ohjeissa 64 merkkiä)
# uusin versio ei tarvitse...
LUCIA_SECRET="satunnainenmerkkijono"

# cloudinary
PUBLIC_CLOUD_NAME=
PUBLIC_CLOUD_APIKEY=
CLOUD_SECRET=

# dev tietokanta
DATABASE_URL_DEV="postgresql://helmi:salasana@localhost:5432/helmidb?schema=public"
# toinen dev tietokanta, prisma migrate kokeilua varten, jos aloitat projektin pidä 
# samana kuin yllä oleva, tai prisma-komennot eivät alusta dev-tietokantaa
DATABASE_URL="postgresql://helmi:salasana@localhost:5432/helmi_prodtest?schema=public"
# HUOM:  MySQL/MariaDB ei ole tuettu ilman prisma.schema -tiedoston muokkaamista!
# (johtuen siitä minkä kokoiseksi Prisma määrittelee String-kentät)
# Vaihtoehtoisesti voit käyttää Prisman sisäänrakennettua SQLite tukea, selviät 
# todennäköisesti vähemmällä, jos haluat vain nopeasti kokeilla 
# https://www.prisma.io/docs/concepts/database-connectors/sqlite

#mailtrap
MAILTRAP_USER=
MAILTRAP_PASS=

# Brändäys
PUBLIC_BRAND="Kirjontastudio Helmi"
# lomekäsittelijä käyttää from/to kentissä
PUBLIC_EMAIL="helmi@example.com"

PAYTRAIL_ACCOUNT= 
PAYTRAIL_SECRET= 