form {
    display: flex;
    flex-direction: column;
}

input:invalid+span::after,
textarea:invalid+span::after {
    content: '❗';
    color: red;
    padding-left: 5px;
}

input:valid+span::after {
    color: green;
    content: '✓';
    padding-left: 5px;
}

.req {
    display: grid;
    grid-template-columns: 90% 10%;
}

textarea {
    height: 10em;
}